@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');
/* variables */
:root{
    --body-background-color: #ffffff;
    --hero-footer-background: #11261A;
    --hero-main-text-color: #ffffff;
    --hero-main-text-size: 48px;
    --hero-main-text-weigth: bolder;
    --hero-secondary-text-color: #ffffff;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-weight: 400;
    --header-logo-text-color: #f9faf8;
    --header-logo-text-size: 24px;
    --button-color: #11261A;
    --information-header-text-size: 36px;
    --information-header-text-weight: bolder;
    --information-header-text-color: #11261A;
    --quote-section-background-color: #8C451C;
    --quote-section-text-color: #ffffff;
    --quote-section-text-size: 36px; 
    --quote-section-text-weight: lighter;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font-family: Roboto, sans-serif;
    background-color: var(--body-background-color);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.header{
    display: flex;
    flex-direction: column;

    background-color: var(--hero-footer-background);
    padding: 1em 10em;
    height: 75vh;
}

/* Navigation */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.nav-item{
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-color);
}


/* Content */
.header-content{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 3em;
}

.content-one,
.content-two{
    flex: 1;
}

.content-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.content-two{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: var(--hero-secondary-text-color);
    
}

.content-two img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.head-text{
    color: var(--hero-main-text-color);
    font-size: var(--hero-main-text-size);
    font-weight: var(--hero-main-text-weigth);
}

.sub-text{
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    font-weight: var(--hero-secondary-text-weight);
}

.button{
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: .5em 2em;
    color: var(--hero-main-text-color);
    font-weight: var(--hero-main-text-weigth);
}

.b2-color{
    background-color: #ffffff;
    color: var(--hero-footer-background);
}
/*  Information */
.information{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
    gap: 3em;
    padding: 2em 0;
    color: var(--information-header-text-color);
}

.information h1{
    font-size: var(--information-header-text-size);
    font-weight: var(--information-header-text-weight);
}

.information-content{
    display: flex;
    gap: 1em;
}

.information-content-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 130px;
    gap: .5em;

}

.info-box{
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.info-box img{
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

/* quote section */
.quote-section{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-section-background-color);
}

.quote-section-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--quote-section-text-color);
    font-weight: var(--quote-section-text-weight);
    width: 60%;
}

.quote{
    font-size: var(--quote-section-text-size);
    text-align: center;
}

.whoami{
    font-size: 24px;
    align-self: flex-end;
    font-weight: bolder;
}

/* Contact */
.contact{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.contact-card{
    display: flex;
    background-color: var(--button-color);
    align-items: center;
    border-radius: 10px;
    padding: 2.5em 5em;
    width: 60%;
    justify-content: space-between;
}

.contact-content{
    color: white;
}

.white-border{
    border: 2px solid white;
}

/* footer */
footer{
    display: flex;
    background-color: var(--hero-footer-background);
    color: var(--hero-main-text-color);
    height: 10vh;
    align-items: center;
    justify-content: center;
    
}